body{
    background: linear-gradient(145deg, #78e6c1, #8effe5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

h1{
    text-align: center;
    font-family:'Nunito';
    
}

h2{
    text-align: center;
    font-family:'Nunito';
    
}
h3{
    font-family:'Nunito';
    padding:5px;
    border-radius: 12px;
    background: #EEEEEE;
   
    text-align: center;
    font-weight: 300;
}

#container{
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    width:510px;
    height:740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
    background: #EEEEEE;
    box-shadow:  20px 20px 60px #71d9b6, 
             -20px -20px 60px #99fff6;

}

#initialtext{
    height:200px;
    width: 450px;
    margin: 1px;
    padding: 10px;
    resize: none;
    background-color: #EEEEEE;
    font-size:20px;
    font-family: 'Nunito';
    
    border:none;
    border-radius: 12px;
    
    background: #EEEEEE;
    box-shadow: inset 5px 5px 10px #b7b7b7, 
            inset -5px -5px 10px #ffffff;
    &:focus{
        outline:0;
    }
}

#newText{
    height:200px;
    width: 450px;
    margin: 1px;
    padding: 10px;
   
   
    font-family: 'Nunito';

    border-radius: 12px;

    background: #EEEEEE;
    box-shadow: inset 5px 5px 10px #b7b7b7, 
            inset -5px -5px 10px #ffffff;
}

#submitbtn{
    margin-top:30px;
    height: 100px;
    width: 150px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 12px;
    background: #EEEEEE;
   
    
}

#translateETM{
    height: 100px;
    width: 150px;
    font-family:'Nunito';
    color:Black;
   border:none;
    font-size:20px;
    padding:10px;
    background: #EEEEEE;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #c8c8c8, 
             -5px -5px 10px #ffffff;

    &:focus{
        outline:0;
        border: none;
        box-shadow: 
    -4px -4px 4px 0 rgba(0,0,0,.03),
    4px 4px 4px 0  rgba(255,255,255,1);
    }
    
    

    &:hover{
        
        cursor: pointer;
    }
}